{% load i18n %}

{% blocktrans with username=obj.by.username time=time %}
	<span id="admin_locking_alter_background"></span>
	This page is <strong>stale</strong>. It has been saved by 
	<strong>{{username}}</strong> at <strong>{{time}}</strong>. This means that
	you <strong>cannot save this page!</strong>
	<i>If you have unsaved changes, do the following:</i>
	<dl>
		<dt>Manually transfer changes</dt>
		<dd>
			Open the page in a new tab and manually transfer the changes from 
			this tab to the new tab. Then close this tab. 
			<a href="." target="_blank">Open page in new tab</a>.
		</dd>
	</dl>
{% endblocktrans %}
